<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.otus.hw15"></context:component-scan>
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="dbAddress" class="ru.otus.hw15.messageSystem.Address">
        <constructor-arg index="0" value="DB"/>
    </bean>

    <bean id="frontAddress" class="ru.otus.hw15.messageSystem.Address">
        <constructor-arg index="0" value="Frontend"/>
    </bean>

</beans>